# Sniperkit-Bot
# - Date: 2018-08-12 11:57:50.861340307 +0200 CEST m=+0.186538184
# - Status: analyzed

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ci files
.ci

# build results
/build

# dependencies
/protoc

# Configuration
/config.yml
